body{
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.clock-display{
  height: 70vh;
  width: 70vh;
  background-image: url(img/clock.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hour, #minute, #second{
  position: relative;
  background: black;
  border-radius: 10px; 
  transform-origin: bottom;
}
#hour{
  width: 1.8%;
  height: 25%;
  opacity: 0.8;  
  z-index: 2;
  top: -8vh;
  left: 1vh;
}
#minute{
  width: 1.6%;
  height: 30%;
  z-index: 3;
  top: -10vh;
  opacity: 0.8;  
}
#second{
  background-color: black;
  width: 1%;
  height: 40%;
  z-index: 4;
  opacity: 0.8;  
  left: -1vh;
  top: -14vh;
}