*{
  background-color: #000;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

button {
  margin: 15px;
}
#addRow{
  height: 2rem;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 1rem;
  background-color: aquamarine;
  color: #000;
}
#showData, .delete-row{
  height: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border: 0;
  border-radius: 1rem;
}
#showData{
  background-color: aqua;
}
.delete-row{
  background-color: red;
  color: white;
}
button#showData {
  display: none;
}
input{
  background-color: aliceblue;
  border: 0;
  height: 1.5rem;
  color: white;
}