*{
  background-color: black;
  color: white;
  padding: 0%;
  margin: 0%;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(38, 37, 37);
}
nav p{
  background: transparent;
}
.homebar{
  display: flex;
}
.sidelist__music{
  height: 80vh;
  width: 30%;
  background-color: rgb(0, 0, 0, 0.8);
}
.sidelist__music h2{
  padding-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  background: transparent;
}
button{
  margin: 10px;
  border: none;
  cursor: pointer;
}
.song__list{
  margin-left: 80px;
  margin-top: 30px;
}
.song__list li{
  font-size: 1.3rem;
  padding: 10px;
}
a{
  text-decoration: none;
}
.middlelist__music{
  background-color: rgb(21, 21, 21);
  height: 80vh;
  width: 70%;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.music_card{
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.details_music{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
i{
  font-size: 1.2rem;
  padding-left: 20px;
  opacity: 0.7;
}
i:hover{
  opacity: 1;
}
#play-pause{
  font-size: 1.5rem;
  opacity: 1;
}
.player{
  height: 80px;
  width: 400px;
  border-radius: 20px;
  background-color: aliceblue;
  padding-bottom: 30px;
}
.img-player{
  display: flex;
  padding-left: 6rem;
  padding-top: 20px;
  padding-bottom: 10px;
}
.range-div{
  padding-left: 30px;
  padding-bottom: 20px;
}
.range{
  height: 0.2rem;
  width: 330px;
}
footer{
  width: 100%;
  background-color: rgb(38, 37, 37);
  height: 100px;
}