*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

.main-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}
.rock, .paper, .scissors{
  height: 180px;
  width: 180px;
  background: transparent;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.rock img, .paper img, .scissors img{
  height: 100px;
  border-radius: 50%;
}
.reset-div{
  position: relative;
  border: 2px black;
  top: 2vw;
  left: 80vw;
  height: 80px;
  width: 80px;
  z-index: 2;
}
#reset{
  height: 60px;
  width: 80px;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  background-image: url(reset.jpeg);
  background-size: contain;
  z-index: 2;
}
.content-div{
  height: 13vw;
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  padding-top: 40px;
}
.result{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  padding-left: 60px;
  font-family: cursive;
}
.result-div{
  padding-bottom: 10px;
  padding-left: 100px;
  position: relative;
  top: -50px;
  width: 80vh;
}
.result-div img{
  height: 80px;
}

@media screen and (max-width:900px) {
  .main-box{
    display: inline;
  }
  .rock, .paper, .scissors{
    height: 200px;
    width: 200px;
    background: transparent;
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 100px;
  }
  .rock img, .paper img, .scissors img{
    height: 100px;
    border-radius: 50%;
  }

}