*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

.main-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}
.rock, .paper, .scissors{
  height: 180px;
  width: 180px;
  background: transparent;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.rock img, .paper img, .scissors img{
  height: 100px;
  border-radius: 50%;
}
.reset-div{
  display: flex;
  justify-content: space-evenly;
}
#reset{
  height: 60px;
  width: 80px;
  border: 3px solid rgb(90, 14, 81);
  border-radius: 30px;
  cursor: pointer;
  background-image: url(img/reset.jpeg);
  background-size: contain;
  z-index: 2;
}
#Autoplay{
  height: 60px;
  width: 180px;
  border: 3px solid rgb(90, 14, 81);
  border-radius: 20px;
  cursor: pointer;
}
.content-div{
  height: 13vw;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  padding-top: 40px;
}
.result{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  padding-left: 60px;
  font-family: cursive;
}
.result-div{
  padding: 40px 100px 40px ;
  width: 80vh;
}
.result-div img{
  height: 80px;
}

.GAMEMODE{
  padding-left: 400px;
  padding-top: 20px;
  font-weight: 400;
}

.startbynumber, .js-number-input{
  border: 3px solid rgb(90, 14, 81);
  border-radius: 10px;
  height: 60px;
  font-size: 1.3rem;
}

.startbynumber{
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
}


@media screen and (max-width:900px) {
  .main-box{
    display: inline;
  }
  .rock, .paper, .scissors{
    height: 200px;
    width: 200px;
    background: transparent;
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 100px;
  }
  .rock img, .paper img, .scissors img{
    height: 100px;
    border-radius: 50%;
  }

}